p {
  text-align:center;
}
.model {
  font-size:100px;
  font-family:montserrat;
  font-weight:bolder;
  margin-bottom:5px;
}

.touch {
  text-decoration:underline;
}

.anouncement {
  font-size: 50px;
  margin-top:0px;
}